.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: none;
  margin: 2px;
  font-size: 64px;
  outline: none;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 40ms, transform 40ms;
}

.row button:hover {
  opacity: 1;
  transform: scale(1.1);
}

.row button:active {
  transform: scale(0.9);
}

.piece {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  border: 2px solid black;
  margin: 2px;
}